<div id="mood-wheel">
    <div id="menu">
         
        <input type="checkbox" id="on-check" name="on-check" />
         
        <label id="on-button" for="on-check">
            <span><span class="ss-plus"><!-- Put plus icon here if not using symbol set --></span></span>
            <span><span class="ss-hyphen"><!-- Put minus icon here if not using symbol set --></span></span>
        </label>
        
        <input type="radio" id="info-sunshine" name="radio-check" />
        <input type="radio" id="info-tranquil" name="radio-check" />
        <input type="radio" id="info-partly-cloudy" name="radio-check" />
        <input type="radio" id="info-rainy" name="radio-check" />
        <input type="radio" id="info-stormy" name="radio-check" />
        <input type="radio" id="info-tornado" name="radio-check" />
         
        <div id="menu-items">
            <div class="middle">
                <div class="top">
                    <span class="bg-piece"> </span> 
                    <label class="ss-sunshine" for="info-sunshine"></label>
                    <span class="bg-piece"> </span> 
                    <label class="ss-tranquil" for="info-tranquil"></label>
                    
                    <span class="bg-piece"> </span> 
                    <label class="ss-partly-cloudy" for="info-partly-cloudy"></label> 
                </div>
                <div class="bottom">
                    <span class="bg-piece"> </span> 
                    <label class="ss-rainy" for="info-rainy"></label> 
                    <span class="bg-piece"> </span> 
                    <label class="ss-stormy" for="info-stormy"></label> 
                    <span class="bg-piece"> </span> 
                    <label class="ss-tornado" for="info-tornado"></label> 
                </div>
            </div>
             
        </div>
         
        <div class="info tranquil-info">Happy</div>
        <div class="info sunshine-info">Okay</div>
        <div class="info partly-clouded-info">Not Well</div>
        <div class="info rainy-info">Sad</div>
        <div class="info tornado-info">Really Sad</div>
        <div class="info stormy-info">Depressed</div>
         
        <div class="faux-shadow"> </div>
    </div>
</div>
