<div class="row">
	<div id="user-mood" class="blue-background">
		<div id="mood-wheel">
			<div class="centered text-center">
					<h2 class="intro white">how are you feeling?</h2>
			</div>
			<div id="menu">  
				<div id="on-button" class="blue-background"></div>
				<input type="radio" id="info-tornado" name="radio-check" />
			    <input type="radio" id="info-sun" name="radio-check"/>
			    <input type="radio" id="info-sunset" name="radio-check"/>
			    <input type="radio" id="info-storm" name="radio-check" />
			    <input type="radio" id="info-rainy" name="radio-check" />
			    <input type="radio" id="info-cloudy" name="radio-check" />
				<div id="on-button" class="blue-background"></div>
				<div id="menu-items">
					<div class="middle">
						<div class="top">
							<label class="ss-tornado" for="info-tornado"></label>
							<label class="ss-sun" for="info-sun"></label>
							<label class="ss-sunset" for="info-sunset"></label> 
						</div>
						<div class="bottom">
							<label class="ss-storm" for="info-storm"></label> 
							<label class="ss-rainy" for="info-rainy"></label> 
							<label class="ss-cloudy" for="info-cloudy"></label> 
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12 text-center">
			<div id="error" class="medium white"></div>
			<button id="mood-submit" type="submit" class="btn btn-primary btn-lg">submit</button>
		</div>
	</div>
</div>
<!-- 
<button type="submit" class="btn btn-primary btn-lg"></button> -->
