h3 {
  text-align: center;
}

.active {
  background-color: #FF8E21;
  color: white;
}

.cursorPointer {
  cursor: pointer;
}

.formHolder {
  display: inline-block;
  height: 240px;
  width: 100%;
}

.nav-tabs {
  border: none;
  margin: 0 auto;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

li.gstart:nth-child(even) {
  margin-left: 10px;
  margin-right: 10px;
}

li.gstart {
  padding: 10px;
  -o-transition:color .1s ease-out, background .2s ease-in;
  -ms-transition:color .1s ease-out, background .2s ease-in;
  -moz-transition:color .1s ease-out, background .2s ease-in;
  -webkit-transition:color .1s ease-out, background .2s ease-in;
    /* ...and now override with proper CSS property */
  transition:color .1s ease-out, background .2s ease-in;
}

ul.gstart {
}

p {
  margin: 0;
}
.width155 {
  width: 155px;
  text-align: center;
  margin-left: 80px;
  padding-top: 7px;
}

.block {
  display: block;
}

.ellipse {
  border-radius: 20px;
  width: 40px;
  height: 22px;
  border: 2px solid lightgray;
  margin-top: 2px;
}

.circle {
  border-radius: 50%;
  background-color: green;
  margin-left: 1px;
  margin-top: 1px;
  width: 16px;
  height: 16px;
}

.fa-google {
  font-size: 30px;
}

.fa-twitter {
  text-decoration: none;
  font-size: 30px;
}

.authLink {
  font-size: 18px;
  vertical-align: middle;
}

.marginLeftForNav {
  margin-left: 151px;
}

.marginForChildren {
  margin-left: 111px;
}

.messageType {
  margin-left: 100px;
}

.messageHeader {
  padding-top: 15px;
  padding-bottom: 15px;
}

textarea {
  border-radius: 5px;
}

select {
  border-radius: 5px;
}

.borderRound {
  border-radius: 5px;
}

#triggerSentimentNotification {
  text-align: center;
  size: 10px;
  color: #DD5F27;
}
.hide {

}
