h3 {
  text-align: center;
}

#backButton {
  margin-right: 10em;
}

.formHolder {
}

.before-and-after {
  text-align: center;
}

.btn-gmail {
  background: #DA5D26;
  color: white;
}

.btn-twitter {
  background: #6DC5B8;
  color: white;
}

.add-supporter {
  width: 49%;
  float: right;
}

.add-trigger {
  width:50%;
  float: left;
}

.get-started-background {
  width: 100% ;
  height: 900px;
  background: url(asset-path("little-dudes.png")) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.get-started-container {
    width:60%;
    margin-top: 1em;
    margin: 0 auto;
}

.pager {
  padding-left: 0;
  margin: 10em auto 1em auto;
  text-align: center;
  list-style: none;
}

.step {
  width:  33%;
}


.active {
  background-color: #FF8E21;
  color: white;
}

.cursorPointer {
  cursor: pointer;
}

.formHolder {
  display: inline-block;
  width: 100%;
  margin: 8em 0 1em 0;
}

.nav-tabs {
  border: none;
  margin: 0 auto;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

li.gstart:nth-child(even) {
  margin-left: 10px;
  margin-right: 10px;
}

.access-buttons {
  width: 35%;
  display: inline-block;
  float: right;
}

.step-description {
  width: 49%;
  display: inline-block;
}

li.gstart {
  padding: 10px 40px;
  -o-transition:color .1s ease-out, background .2s ease-in;
  -ms-transition:color .1s ease-out, background .2s ease-in;
  -moz-transition:color .1s ease-out, background .2s ease-in;
  -webkit-transition:color .1s ease-out, background .2s ease-in;
    /* ...and now override with proper CSS property */
  transition:color .1s ease-out, background .2s ease-in;
}

ul.gstart {
}

p {
  margin: 0;
}

.width155 {
  width: 155px;
  text-align: center;
  margin-left: 80px;
  padding-top: 7px;
}

.block {
  display: block;
}

.ellipse {
  border-radius: 20px;
  width: 40px;
  height: 22px;
  border: 2px solid lightgray;
  margin-top: 2px;
}

.circle {
  border-radius: 50%;
  background-color: green;
  margin-left: 1px;
  margin-top: 1px;
  width: 16px;
  height: 16px;
}

.authLink {
  font-size: 18px;
  vertical-align: middle;
}

.marginForChildren {
  margin-left: 111px;
}

.messageType {
  margin-left: 100px;
}

.messageHeader {
  padding-top: 15px;
  padding-bottom: 15px;
}

textarea {
  border-radius: 2px;
  height: 100px;
  width: 100%;
}

select {
  border-radius: 5px;
}

.borderRound {
  border-radius: 5px;
}

#triggerSentimentNotification {
  text-align: center;
  size: 10px;
  color: #DD5F27;
}
.hide {

}

.network {
  width: 20%;
}

.step-container {
  padding: 75px 50px 75px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 2px;
  margin: 3em auto 0em auto;
  height: 404px;
  border: 9px solid #6DC5B8;
  .form-group {
    display:block;
  }
  input {
    height: 40px;
    padding: 10px 10px 10px 10px;
  }
  textarea {
    border-radius: 2px;
    height: 110px;
    width: 300px;
    border: 1px solid #909090;
    padding: 5px 10px;
  }

  :-moz-placeholder { /* Firefox 18- */
     font-size: 17px;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     font-size: 17px;
  }

  :-ms-input-placeholder {
     font-size: 17px;
  }
  ::-webkit-input-placeholder {
     font-size: 17px;
  }

}





