body {
	font-family: Gotham, sans-serif, helvetica;
}

#cloud-intro {
	background-color: #9CD5F6;
}

.centered {
	margin: 0 auto;
}

#introduction {
	width:100%;
	height:850px;
	background: url(/animated-clouds-background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	h2 {
  		font-weight: 100 !important;
  	}
  	.headline {
  		color:white;
  	}
  	.main-focus{
  		margin: 50px 0px;
  	}

  	.form-group {
  		height: 40px;
  		margin-bottom: 20px;
  	}

  	#login {
  		display:none;
  		width: 50%;
  		margin: 0 auto;
  		margin-top: 175px;
  	}
  	#newUser {
  		display:none;
  		width: 50%;
  		margin: 0 auto;
  	}

  	#signUp {
  		// margin-bottom: 20px;
  	}
  	#signIn {
  		display:block;
  		margin-top: 15px;
  	}

  	#user_first_name {
  		width: 49%;
  		display: inline-block;
  		float: left;
  	}
  	#user_last_name {
  		width: 49%;
  		display: inline-block;
  		float: right;
  	}
  	#user_gmail {
  		width: 49%;
  		display: inline-block;
  		float: left;
  	}
  	#user_phone {
  		width: 49%;
  		display: inline-block;
  		float: right;
  	}
  	#user_password {
  		width: 49%;
  		display: inline-block;
  		float: left;
  	}
  	#user_password_confirmation {
  		width: 49%;
  		display: inline-block;
  		float: right;
  	}
}


.centered {
	margin: 0 auto;
	text-align:center;
}

#intro-info {
	background:white;
	section {
		padding: 100px 0;
		border-bottom: 1px solid #FBAF3F;
	}

}

.xlarge-headline {
	font-weight: 200 !important;
	font-size: 46px;
	color: #FBAF3F;
	margin-top: 100px;
}

.xlarge-subheadline {
	font-size: 25px;
	font-weight: 100 !important;
	color: #FBAF3F;
}



.btn-primary {
	background: #FBAF3F !important;
	border-color: transparent !important;
	border: 0px;
}

.btn-primary:hover {
	background: #DA5D26 !important;
	border-color: transparent !important;
	border: 0px;
}

.btn-lg {
	height: 60px;
	width: 200px;
	padding: 15px;
	margin-top: 25px
}














