#mood-wheel {
    display:block;
    margin-top: 5%;
}
/* Just for positioning the menu correctly */
#menu {
    position: relative;
    width: 230px;
    margin: 0px auto;
    top: 100px;
    left: 37px;
}
 

#on-button {
    position: absolute;
    content: " ";
    top: 50px;
    left: 50px;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 120px;
    background: #fff;
    z-index: 2;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    pointer-events: none;
    font-size: 5em;
}
 
/* The styling of the menu items container div */
#menu-items {
    width: 400px;
    height: 400px;
    left: -75px;
    top: -75px;
    border-radius: 250px;
    background: #aaa;
    position: absolute;
    z-index: -99;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
 
/* I separated the pieces of the menu into two divs, top and bottom. */
#menu-items .top, #menu-items .bottom {
    width: 100%;
    float: left;
    z-index: 1;
    height: 50%;
} 
 
#menu-items .bottom {
    top: 50%;
}
 
/* The middle div is largely to fix a bug where the content would exceed the 
   border radius when overflow: hidden; was set */
    
#menu-items .middle {
    height: 100%;
    white-space: nowrap;
}
 
/* Styling the background pieces. These containers don't do anything, they are 
   just for design */
    
// #menu-items .middle .bg-piece {
//     width: 33.3%;
//     height: 100%;
//     text-align: center;
//     display: inline-block !important;
//     background: #eee;
//     font-size: 2.5em;
//     position: absolute;
//     display: block;
// }
 
// /* It was important to make sure all the background pieces were in the correct
//    position and this required a little bit of experimenting. The code below 
//    makes sure everything is positioned in the correct order */
    
// #menu-items .middle > div .bg-piece:nth-of-type(2) {
//     position: absolute;
//     width: 0;
//     height: 0;
// }
// #menu-items .middle .bottom .bg-piece:nth-of-type(2):after, #menu-items .middle .top .bg-piece:nth-of-type(2):after {  
//     content: " ";
//     position: absolute;
//     border-color: transparent transparent #eee transparent;
//     border-width: 148px;
//     border-style: solid;
//     top: -142px;
//     left: 0px;
//     z-index: 999;
// }
 
// #menu-items .middle .top .bg-piece:nth-of-type(2):after {
//     border-color: #eee transparent transparent transparent;
//     top: -5px;
//     left: 0;
// }
 
// #menu-items .middle .top .bg-piece:nth-of-type(1) { 
//     box-shadow: inset -125px 0 36px -35px rgba(0, 0, 0, 0.1), inset -7px -161px 72px rgba(0, 0, 0, 0.1);
// }
 
// #menu-items .middle .top .bg-piece:nth-of-type(3) { 
//     box-shadow: inset 125px 0 36px -35px rgba(0, 0, 0, 0.1), inset -7px -161px 72px rgba(0, 0, 0, 0.1);
// }
 
// #menu-items .middle > div .bg-piece:nth-of-type(1) {
//     width: 50%;
//     box-shadow: inset -125px 0 36px -35px rgba(0, 0, 0, 0.1);
// }
 
// #menu-items .middle > div .bg-piece:nth-of-type(3) {
//     width: 50%;
//     right: 0;
//     box-shadow: inset 125px 0 36px -35px rgba(0, 0, 0, 0.1);
// }
 
/* ------------------------------------------------------------ */

/* The labels are what contain the icons */
#menu-items label {
    position: absolute;
    z-index: 9999999;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
}
 

/* Hide the radio and checkboxes */
#menu input[type='checkbox'], input[type='radio'] { display: none; }
 
/* Position the icons correctly */
#menu-items .top .ss-tornado { top: 95px; left: 45px; background-image: url(asset-path("tornado.png")); width: 80px; height: 80px; }
#menu-items .top .ss-sunset { top: 90px; left: 285px; background-image: url(asset-path("tranquil.png")); width: 80px; height: 80px;}
#menu-items .top .ss-sun { top: 25px; left: 150px; background-image: url(asset-path("sunshine.png")); width: 80px; height: 80px;}
#menu-items .bottom .ss-storm { top: 215px; left: 35px; background-image: url(asset-path("stormy.png")); width: 80px; height: 80px;}
#menu-items .bottom .ss-cloudy { top: 230px; left: 270px; background-image: url(asset-path("partly-cloudy.png")); width: 80px; height: 80px;}
#menu-items .bottom .ss-rainy { top: 295px; left: 155px; background-image: url(asset-path("rainy.png")); width: 80px; height: 80px;}

/* The below code rotates the menu items to the correct position
   when each is clicked. */
#info-tornado:checked ~ #menu-items, #menu-items .top .ss-sunset { 
    -webkit-transform: rotateZ(66deg); 
    -moz-transform: rotateZ(66deg); 
    -ms-transform: rotateZ(66deg); 
    -o-transform: rotateZ(66deg); 
    transform: rotateZ(66deg); 
}
 
 
#info-sunset:checked ~ #menu-items, #menu-items .top .ss-tornado { 
    -webkit-transform: rotateZ(-66deg); 
    -moz-transform: rotateZ(-66deg); 
    -ms-transform: rotateZ(-66deg); 
    -o-transform: rotateZ(-66deg); 
    transform: rotateZ(-66deg); 
}
 
#info-storm:checked ~ #menu-items, #menu-items .bottom .ss-cloudy { 
    -webkit-transform: rotateZ(114deg); 
    -moz-transform: rotateZ(114deg); 
    -ms-transform: rotateZ(114deg); 
    -o-transform: rotateZ(114deg);   
    transform: rotateZ(114deg); 
}
 
#info-cloudy:checked ~ #menu-items, #menu-items .bottom .ss-storm { 
    -webkit-transform: rotateZ(-114deg); 
    -moz-transform: rotateZ(-114deg); 
    -ms-transform: rotateZ(-114deg); 
    -o-transform: rotateZ(-114deg); 
    transform: rotateZ(-114deg); 
}
 
#info-rainy:checked ~ #menu-items, #menu-items .bottom .ss-rainy { 
    -webkit-transform: rotateZ(180deg); 
    -moz-transform: rotateZ(180deg); 
    -ms-transform: rotateZ(180deg); 
    -o-transform: rotateZ(180deg); 
    transform: rotateZ(180deg); 
}
 
/* --------------------------------------------------------------- */
 
/* Highlight the selected item */
#info-tornado:checked ~ #menu-items .ss-tornado,
#info-sunset:checked ~ #menu-items .ss-sunset,
#info-storm:checked ~ #menu-items .ss-storm,
#info-cloudy:checked ~ #menu-items .ss-cloudy,
#info-rainy:checked ~ #menu-items .ss-rainy,
#info-sun:checked ~ #menu-items .ss-sun { 
    text-shadow: 0 0 15px #3facf2;
    color: #24434f;
}
 
/* Make opacity of the info boxes 1 when they are clicked on */
#info-tornado:checked ~ .tornado-info,
#info-sunset:checked ~ .sunset-info,
#info-storm:checked ~ .storm-info,
#info-cloudy:checked ~ .cloudy-info,
#info-rainy:checked ~ .rainy-info,
#info-sun:checked ~ .sun-info {
    opacity: 1;
}