li.sideNav {
  list-style: none
}

.settingsShow {
  padding-top: 55px;
}

.table
{
  display:table;
  border-collapse:separate;
  border-spacing:2px;
}
.thead
{
  display:table-header-group;
  color:white;
  font-weight:bold;
  background-color:grey;
}
.tbody
{
  display:table-row-group;
}
.tr
{
  display:table-row;
}
.td
{
  display:table-cell;
  border:1px solid black;
  padding:1px;
}

.maxTable {
  width: 100%
}

.red {
}

.marginNineteen .circle {
  background-color: red;
  margin-left: 19px;
}

.marginTwentySix {
  margin-left: 26px;
}

#chart {
  width: 100%;
  margin-top: 50px;
}

.inline {
  display: inline;
}

.add-substract-days {
  text-align: center;
}

.hidden {
  display: none;
}

.marginForChildrenEdit {
  margin-left: 132px;
}

.editTextArea {
  margin-left: 28px;
}
