<div>
  <div class='inline-block'>
    <div><i id="toggle-up" class="fa fa-chevron-up"></i></div>
      <div class='inline-block'> <span id='incDays'><%= @trigger.duration_in_hours %></span> <span id='day'>day</span> :</div>
    <div><i id="toggle-down" class="fa fa-chevron-down"></i></div>
  </div>
  <div class='inline-block'>
    <%= @trigger.text %>
  </div>
</div>
