<div class='block'>
  <div class='inline-flex'>
    <%= link_to raw('<i class="fa fa-chevron-up block toggle-up"></i>'), trig_inc_path(@trigger) %>
  </div>
  <div class='block'>
    <span class='incDays'><%= @trigger.duration_in_hours %></span> <span class='day'>day</span>
  </div>
  <div>
    <%= link_to raw('<i class="fa fa-chevron-down block toggle-down"></i>'), trig_dec_path(@trigger) %>
  </div>
  <div class='inline-block'>
    <%= @trigger.message_text %>
  </div>
</div>
