<p>Text my support network</p>
<textarea rows="4" cols="50">
</textarea>
<p>if I haven't checked my email in</p>
<div class="toggle-up"></div>
<input type="text" name="days" value="1">
<div class="toggle-down"></div>
<p>days</p>
